body{
font-family: monospace;    color: hsla( 0, 0%, 90%, 1.0 );
    margin: 0;
    background-image: 
        linear-gradient( 
            1800deg,
            hsla( 220, 10%, 20%, 1.0 ), 
            hsla( 120, 10%, 30%, 1.0 ), 
            hsla( 220, 10%, 20%, 1.0 ) 
        );
    background-attachment: fixed;
}
section.content{
    display: flex;
    flex-direction: column;
    padding: 13px 26px 130px 3px;
}
section.content article{
    background-color: hsla( 220, 20%, 20%, 0.9);
    margin: 13px 0px;
    border: 3px solid hsla( 200, 50%, 50%, 1.0 );
    border-radius: 46px 16px ;
    padding: 0px 22px;
    box-shadow: 9px 10px 12px hsla( 200, 50%, 50%, 0.7 );
}
section.content article p{
    padding: 3px;
}
section.content article a{
    display: inline-block;
    color: aqua;
    text-decoration: none;
    border-radius: 10px;
    padding: 1px 10px;
    margin: 0px 0; 
    background: hsla( 20, 50%, 20%, 1.0 );
}
section.content article a:hover{
    background-color: hsla( 0, 100%, 50%, 1.0 );
}
section.content article h2{
    color: hsla( 0, 40%, 90%, 1.0 );
    text-align: right;    
    background-color: hsla( 120, 20%, 20%, 0.9);
    border-radius: 16px;
    padding: 6px 22px;
}
section.title{
    color: hsla(100, 0%, 40%, 1.0);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;
    bottom: 3%;
    right: 7%;
    border: 13px solid hsla( 230, 80%, 60%, 0.5 );
    border-radius: 46px 16px;
    background-color: hsla( 130, 80%, 60%, 1.0);
    box-shadow: hsla(180, 50%, 50%, 0.6 ) 12px 10px 6px;
}
section.title h1{
    color: hsla(200, 0%, 40%, 1.0);
    margin: 9px 0px;
    text-shadow: hsla(180, 50%, 50%, 0.4 ) 5px 3px;
}

