body{
  font-size: 16px;
  font-family: sans-serif;
  width:700px;
  color:#222;
  padding: 0.5em 0.5em;
  background-color: #eee;
}
h1{
  color: #555;
  margin-top:   0.2em;
}
h2{
  color: #333;
  margin-top:   0.2em;
}
h3{
  padding: .4em 0;
  border-radius: 3px;
  margin-top:   0.2em;
}
h4{
  margin:   0.3em 0;
}
ul li li{
  display: inline-block;
} 
ul li li:before{
  margin: 0.2em;
  content: ' \25B8 ' ;
}
p {
  color:#111;
}

a {
  color:#339;
  text-decoration: none
}